## Before runninng the following code, make sure you have installed yfinance. 

## The installation follows: 

### 1. !pip install yfinance

### 2. check whether you have installed yfinance by conda list yfinance

In [15]:
# Import yfinance and matplotlib
import yfinance as yf  
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
#Input the stock name 

stock = ['AAPL']

In [17]:
# Fetch stock data from yahoo api 
data = yf.download(stock,'2015-01-01','2020-01-01')

display(data)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-12-31  28.205000  28.282499  27.552500  27.594999  24.880697  165613600
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.644024  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.949757  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.952011  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.287872  160423600
...               ...        ...        ...        ...        ...        ...
2019-12-23  70.132500  71.062500  70.092499  71.000000  69.672485   98572000
2019-12-24  71.172501  71.222504  70.730003  71.067497  69.738731   48478800
2019-12-26  71.205002  72.495003  71.175003  72.477501  71.122383   93121200
2019-12-27  72.779999  73.492500  72.029999  72.449997  71.095383  146266000
2019-12-30  72.364998  73.172501  71.305000  72.879997  71.517342  144114400

[1258 rows x 6 columns]

In [19]:
# create new dataframe to hold the close value 

close = pd.DataFrame()

#extract 'Close' data from above data frame to new data frame 

close['close'] = data['Close']

display(close)

                close
Date
2014-12-31  27.594999
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1258 rows x 1 columns]